/* FrontMatter 读书笔记样式 */
/* 来自 Discord 社区用户 @reaty 的样式分享 */
.book .cm-scroller {
    padding-left: 10% !important;
    padding-right: 10% !important;
} 

.book .cm-sizer,
.book .markdown-preview-sizer {
    /*margin-left: 0px !important;
    margin-right: 0px !important;*/
}

.book .inline-title {
    display: none;
}

.book img[alt="cover"] {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 280px;
    object-fit: cover;
    position: relative;
    left: -220px;
}

.book.is-live-preview .metadata-container,
.book.markdown-preview-view .metadata-container {
    position: absolute;
    left: calc(50%  - 100px);   
    width: calc(400px);
    max-height: 280px;
    overflow-y: auto;
    padding-left: 0;
    margin: 0;
}
